new google.maps.Marker({ |
  position: new google.maps.LatLng(#{place.lat}, #{place.long}), |
  map: map, |
  title: "#{place.name}", |
  icon: "http://maps.google.com/mapfiles/ms/icons/#{place.color}-dot.png", |
  zIndex: #{place.z_index} |
}); |
